{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto"
}
