# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
.next
out
dist
build
coverage

# Configs & misc
*.config.js
*.config.ts
*.config.mjs
.next-env.d.ts

# Git / editor
.git
.vscode
.husky
.history

# Environment files
.env
.env.*